<!-- Navigation -->
<div
  class="title-bar"
  data-responsive-toggle="realEstateMenu"
  data-hide-for="small"
>
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="realEstateMenu">
  <div class="top-bar-left">
    <ul class="menu" data-responsive-menu="accordion">
      <li class="menu-text"><a class="menu-text" href="/">Rental Point</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/listings">Listings</a></li>
      <li><a href="/seller">Become a Seller</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">My Account</a></li>
      <li><a href="/login" class="button" class="menu-text">Login</a></li>
    </ul>
  </div>
</div>
<!-- /Navigation -->