<div class="row align-center">
  <div class="work-feature-block row">
    <div class="columns medium-6">
      <img
        class="work-feature-block-image"
        src="https://wallpaperaccess.com/full/112906.jpg"
      />
    </div>
    <div class="product-details column medium-6 center-text-for-small-only">
      <h1>Product Name</h1>
      <p class="product-description">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Maecenas id magna ac quam semper.deta</p>
      <div class="row">
        <div class="column small-12 large-6">
          <h6 class="product-color-title">Colors</h6>
        </div>
        <div class="column small-12 large-12">
          <h6 class="product-color-title">Size</h6>
          <form class="product-option-selection">
            <input
              id="calendar"
              class="form-control"
              placeholder="Select DateTime"
            />
          </form>
        </div>
      </div>
      <div class="product-details-add-to-cart">
        <p><span class="in-stock">In Stock</span>
          <span class="dim-text">(Only 3 left in Stock)</span></p>
        <hr />
        <p class="price">$19.99</p>
        <p> <span>Qty:</span> <input class="qty" type="text" value="1" /> </p>
        <button class="button expanded">Confirm Order</button>
      </div>
    </div>
  </div>
</div>