{{#if errorMessage includeZero=true}}
<div class="callout alert">
  <h5>{{{errorMessage}}}</h5>
  <a href="#">Please make the necessary changes</a>
</div>
{{/if}}
<div class="row align-center">
  <div class="work-feature-block row">
    <div class="columns medium-6">
      <img
        class="work-feature-block-image"
        src="https://wallpaperaccess.com/full/112906.jpg"
      />
    </div>
    <div class="product-details column medium-6 center-text-for-small-only">
      <h1>Product Name</h1>
      <p class="product-description">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Maecenas id magna ac quam semper.deta</p>
      <div class="row">
        <div class="column small-12 large-6">
          <h6 class="product-color-title">Colors</h6>
        </div>
        <div class="column small-12 large-12">
          <h6 class="product-color-title">Size</h6>
          <form
            action="/listings/{{results.listing_id}}"
            method="POST"
            class="product-option-selection"
          >
            <input
              id="calendar"
              name="calendar"
              class="form-control"
              placeholder="Select DateTime"
              required
            />

        </div>
      </div>
      <div class="product-details-add-to-cart">
        <p><span class="in-stock">In Stock</span>
          <span class="dim-text">(Only 3 left in Stock)</span></p>
        <hr />
        <p class="price">${{results.price}}/Day</p>
        <p> <span>Qty:</span> <input class="qty" type="text" value="1" /> </p>
        <button type="submit" class="button expanded">Proceed to Checkout</button>
      </div>
    </div>
  </div>
</div>
</form>