<form>
  <div class="row">
    <fieldset class="fieldset small-8 small-centered columns">
      <legend>User Information</legend>
      <div class="medium-6 columns">
        <label>First Name
          <input type="text" placeholder="John" required />
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Last Name
          <input type="text" placeholder="Smith" required/>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Country
          <input type="text" placeholder="Canada" required/>
        </label>
      </div>
      <div class="large-12 columns">
        <label>Date of Birth            
            <input type="date" value="2001-06-01" required>
        </label>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="row">
    <fieldset class="fieldset small-8 small-centered columns">
      <legend>Account Information</legend>
      <div class="medium-6 columns">
        <label>Email
          <input type="text" placeholder="johnsmith@gmail.com" required/>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Password
          <input type="password" placeholder="Password" required/>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Confirm Password
          <input type="password" placeholder="Confirm Password" required/>
        </label>
      </div>
    </fieldset>
  </div>
  <div class="row">
      <div class="small-5 small-centered columns">
      <p><input type="submit" class="button expanded" value="Register" required ></input></p>
      </div>
  </div>
</form>